<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${treasure}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="value">Value</label>
        <input  type="number" class="form-control" th:field="*{value}" />
        <span th:errors="*{value}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="type">Type</label>
        <input class="form-control" th:field="*{type}" />
        <span th:errors="*{type}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="userid">UserID</label>
        <input class="form-control" th:field="*{userid}" />
        <span th:errors="*{userid}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="shared">Shared</label>
        <input type="checkbox" class="form-control" th:field="*{shared}" />
        <span th:errors="*{shared}" class="error"></span>
    </div>


    <input type="submit" value="Add Treasure" />
</form>

</body>
</html>