<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="treasure : ${treasures}" class="checkbox">
        <input type="checkbox" name="treasureIds" th:value="${treasure.id}" th:id="${treasure.id}"/>
        <label th:for="${treasure.id}" th:text="${treasure.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Creature" />
</form>

</body>
</html>