<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Encounter Generator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https;/ajax.googleeapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div>
    <div th:fragment="navigation">

        <div sec:authorize="isAuthenticated()">
            <h1 th:inline="text">Hello <span sec:authentication="name"></span></h1>
            <a href="/logout">Logout</a>
            <nav class="user-nav">
                <a href="/">Home</a> |
                <a href="/creature">Creatures</a> |
                <a href="/encounters">Encounters</a> |
                <a href="/interest">Interests</a> |
                <a href="/treasure">Treasures</a> |
                <a href="/login">Login</a>
            </nav>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <nav>
            <a href="/">Home</a> |
            <a href="/encounters">Encounters</a> |
            <a href="/login">Login</a>
            </nav>
        </div>
    </div>
</div>

</body>
</html>