<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="creature : ${creature}" class="checkbox">
        <input type="checkbox" name="creatureIds" th:value="${creature.id}" th:id="${creature.id}"/>
        <label th:for="${creature.id}" th:text="${creature.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Creature" />
</form>

</body>
</html>