<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Points of Interest</h1>

<nav th:replace="fragments :: navigation"></nav>

<a href="/interests/add">Add a Point of Interest</a> |
<a href="/interests/remove">Remove a Point of Interest</a>

<table class="table">

    <tr>
        <th>Description</th>
        <th>UserID</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Shared</th>
    </tr>

    <tr th:each="interest : ${interests}">
        <td th:text="${interest.description}"></td>
        <td th:text="${interest.userid}"></td>
        <td th:text="${interest.createdate}"></td>
        <td th:text="${interest.updated}"></td>
        <td th:text="${interest.shared}"></td>
    </tr>

</table>

</body>
</html>